COMPOSE_PROJECT_NAME=jano

FRONTEND_PORT=4200
BACKEND_PORT=3000
POSTGRES_PORT=5432
ADMINER_PORT=8080

POSTGRES_DB=jano
POSTGRES_USER=jano
POSTGRES_PASSWORD=jano123

FRONTEND_ORIGIN=http://localhost:4200
MEDIA_PUBLIC_BASE_URL=http://localhost:3000
JWT_SECRET=change-me-with-a-long-random-secret

# Frontend SSR
SSR_API_ORIGIN=http://backend:3000
API_PROXY_TARGET=http://backend:3000
NG_ALLOWED_HOSTS=localhost,127.0.0.1,jano.manuelgodoy.eu
