.DS_Store
.env

node_modules
package-lock.json

backend/api/.env
backend/api/dist
backend/api/node_modules
backend/api/uploads

frontend/.angular
frontend/dist
frontend/node_modules

docs/.DS_Store
.vscode/
