<span class="rt">
  @for (t of tokens; track $index) {
    @if (t.kind === 'text') {
      <span>{{ t.value }}</span>
    } @else {
      <span class="link-wrap">
        <a
          class="link"
          [routerLink]="['/entity', t.slug]"
          (mouseenter)="onLinkEnter(t.slug)"
          (focus)="onLinkFocus(t.slug)"
          (mouseleave)="onLinkLeave()"
          (blur)="onLinkBlur()"
        >
          {{ t.label }}
        </a>

        @if (openSlug() === t.slug) {
          <span
            class="tooltip"
            role="tooltip"
            (mouseenter)="onTooltipEnter()"
            (mouseleave)="onTooltipLeave()"
          >
            @if (previewLoading()) {
              <div class="tt-loading">Cargando preview…</div>
            } @else if (preview()) {
              <div class="tt-title">{{ preview()!.title }}</div>

              <div class="tt-meta">
                <span>{{ preview()!.type }}</span>

                @if (preview()!.startYear || preview()!.endYear) {
                  <span>
                    • {{ preview()!.startYear ?? '' }}@if (preview()!.endYear) {–{{ preview()!.endYear }}}
                  </span>
                }

                @if (preview()!.status) {
                  <span>• {{ preview()!.status }}</span>
                }

                @if (preview()!.contentLevel) {
                  <span>• {{ preview()!.contentLevel }}</span>
                }
              </div>

              @if (preview()!.summary) {
                <div class="tt-summary">{{ preview()!.summary }}</div>
              }

              @if (previewImageUrl) {
                <img
                  class="tt-img"
                  [src]="previewImageUrl!"
                  [alt]="preview()!.title"
                />
              }
            }
          </span>
        }
      </span>
    }
  }
</span>